<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8"></meta>
  <title>Poefy Online</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://tilde.town/~nossidge/zelda/holy_grail.css">
  <script src="https://tilde.town/~nossidge/jquery/src/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script language="javascript">

    // Cribbed from https://stackoverflow.com/a/8435261/139299
    function weightedRand(spec) {
      let i, sum = 0, r = Math.random();
      for (i in spec) {
        sum += spec[i];
        if (r <= sum) return i;
      }
    }

    // Add ruby-like 'sample' and 'shuffle' array functions to jQuery.
    // https://stackoverflow.com/a/11935263/139299
    // https://stackoverflow.com/a/12646864/139299
    (function($) {
      $.shuffle = function(arr) {
        if (!$.isArray(arr)) return null;
        let shuffled = arr.slice(0);
        for (let i = shuffled.length - 1; i > 0; i--) {
          let j = Math.floor(Math.random() * (i + 1));
          [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];
        }
        return shuffled;
      };
      $.sample = function(arr, size = 1) {
        if (!$.isArray(arr)) return null;
        let outArr = $.shuffle(arr).slice(0, size);
        return (size == 1) ? outArr[0] : outArr;
      };
    })(jQuery);

    // #########################################################################

    var welcomeText;
    var desc_databases = <%= @desc_databases.to_json %>;
    var poetic_forms   = <%= @poetic_forms.to_json %>;

    // Get the poem from the JSON request.
    function getPoem() {
      let corpus   = $("#dropdown_databases").val();
      let form     = $("#dropdown_poetic_forms").val();
      let rhyme    = $("#text_rhyme").val();
      let indent   = $("#text_indent").val();
      let syllable = $("#text_syllable").val();
      let regex    = $("#text_regex").val();
      let acrostic = $("#text_acrostic").val();

      // Create options object.
      let options = {};
      options.corpus = corpus;

      // If we aren't using the form, we are using the rhyme string.
      let usePoeticForm = $("#poetic_form").hasClass("active");
      if (usePoeticForm) {
        options.form = form;
      } else {
        options.rhyme = rhyme;
      }

      // Add optional attributes.
      if (indent   != "") options.indent   = indent;
      if (syllable != "") options.syllable = syllable;
      if (regex    != "") options.regex    = regex;
      if (acrostic != "") options.acrostic = acrostic;

      // Get from the API and write response to the main div.
      getPoemFromAPI(options, function(text) {
        $("#poem_results").html(text);
      });
    }

    // Get the poem from the JSON request.
    // 'options' is a hash that will be serialised to URL parameters.
    // 'callback' is a function that does something with the HTML text.
    function getPoemFromAPI(options, callback) {
      $.getJSON("poem?" + $.param(options), function(data) {
        let text = (data.length != 0)
          ? data.join("<br>").replace(/ /g, "&nbsp;")
          : "[A poem cannot be generated using the selected criteria]";
        callback(text);
      });
    }

    // Display the corpus description.
    function selectDatabase(database) {
      setCorpus(database);
      getPoem();
    }

    // Toggle between named form and bespoke rhyme string.
    function togglePoemType() {
      $("#poetic_form").toggleClass("active");
      $("#poetic_form_glyphicon").toggleClass("glyphicon-ok");
      $("#poetic_form_glyphicon").toggleClass("glyphicon-remove");
      $("#rhyme").toggleClass("active");
      $("#rhyme_glyphicon").toggleClass("glyphicon-ok");
      $("#rhyme_glyphicon").toggleClass("glyphicon-remove");
    }
    function setPoemTypePoeticForm() {
      if ( !$("#poetic_form").hasClass("active") ) togglePoemType();
    }
    function setPoemTypeRhyme() {
      if ( !$("#rhyme").hasClass("active") ) togglePoemType();
    }

    // Show help text for a specific poem option.
    function helpText(helpTextID) {
      $("#poem_results").html(welcomeText);
      $("#" + helpTextID).toggleClass("hidden");
    }

    // Determine whether the rhyme string is valid.
    // Directly taken from the 'poefy' Ruby gem.
    function parseRhymeString(rhyme_string) {
      let tokens = [];
      let buffer = '';

      // Split string to tokens.
      $.each( rhyme_string.split(''), function(index, char) {
        if ( buffer != '' && (isNaN(Number(char)) || (char == ' ')) ) {
          tokens.push(buffer);
          buffer = '';
        }
        buffer += char;
      });
      tokens.push(buffer);

      // Handle invalid tokens.
      let boolean_array = $.map( tokens, function(char) {
        keep = char.replace(/[^A-Z,0-9]/g, "");
        return (keep == "" || !Number(keep));
      });

      // Not valid if there are any 'false' elements.
      let valid = boolean_array.reduce( function(sum, i) {
        return (sum && i);
      });

      // Get the rhyme letter for each token.
      let rhymes = $.map( tokens, function(char) {
        return char.toLowerCase().replace(/[^a-z ]/g, "");
      });

      return { tokens: tokens, rhymes: rhymes, valid: valid };
    }

    // Highlight the rhyme textbox if it's invalid.
    function highlightInvalidRhyme() {
      let rhymeString = $("#text_rhyme").val();
      let rhymeParsed = parseRhymeString(rhymeString);
      let elem = $("#text_rhyme").parent();
      if (rhymeParsed.valid) {
        elem.removeClass("has-error");
      } else {
        elem.addClass("has-error");
      }
    }

    // #########################################################################

    // Randomise option string based on the rhyme string.
    function randomisePoemOption(textboxID) {
      let outputString, rhymeParsed, isValid = true;

      // No need to validate rhyme if it's the rhyme we are randomising.
      if (textboxID != "#text_rhyme") {

        // Get rhyme string from textbox or from poetic form.
        let rhymeString;
        let usePoeticForm = $("#poetic_form").hasClass("active");
        if (usePoeticForm) {
          let form = $("#dropdown_poetic_forms").val();
          rhymeString = poetic_forms[form].rhyme.slice(0);
        } else {
          rhymeString = $("#text_rhyme").val();
        }

        // Some poetic forms have multiple rhymes to choose from.
        // So if it's a single string, coerce to flattened array.
        let rhymeStrings = [].concat(...new Array(rhymeString));

        // Select a random rhyme from the array, and use that.
        rhymeString = $.sample(rhymeStrings);

        // Parse to tokens and rhymes.
        rhymeParsed = parseRhymeString(rhymeString);

        // Get a list of the unique rhymes.
        let uniques = [...new Set(rhymeParsed.rhymes)];

        // Don't do anything if the rhyme string is invalid or empty.
        let isEmpty = (uniques.length == 1 && uniques[0].trim() == "");
        isValid = rhymeParsed.valid && !isEmpty
      }

      // Randomise a particular option string.
      if (isValid) {
        switch(textboxID) {
          case "#text_rhyme":
            outputString = randomRhyme();
            setPoemTypeRhyme();
            break;
          case "#text_indent":
            outputString = randomIndentation(rhymeParsed);
            break;
          case "#text_syllable":
            outputString = randomSyllables(rhymeParsed);
            break;
        }

        // Write that back to the DOM and generate a new poem.
        $(textboxID).val(outputString);
        if (textboxID == "#text_rhyme") highlightInvalidRhyme();
        getPoem();
      }
    }

    // Randomise the rhyme string.
    // We've already got a list of a bunch of nice rhyme strings.
    // We can just use the ones specified in the named poetic forms.
    function randomRhyme() {
      let rhymeStrings = [];
      $.each( poetic_forms, function(index, elem) {
        let toArr = [].concat(...new Array(elem.rhyme));
        $.each( toArr, function(i2, e2) { rhymeStrings.push(e2); });
      });
      return $.sample(rhymeStrings);
    }

    // Randomise the indentation.
    // This approach is pretty naive, but it should be okay.
    // Assign each unique rhyme a weighted, pseudo-random indentation.
    // Then map it back to the rhyme array.
    function randomIndentation(rhymeParsed) {
      let uniques = [...new Set(rhymeParsed.rhymes)];
      let weight = {0:0.5, 1:0.4, 2:0.1};
      let rhymeIndent = {};
      $.each( uniques, function(index, char) {
        let output = (char == " ") ? " " : weightedRand(weight);
        rhymeIndent[char] = output;
      });
      return $.map( rhymeParsed.rhymes, function(char) {
        return rhymeIndent[char];
      }).join("");
    }

    // Randomise the syllables.
    // This is pretty rubbish, but at least it does something.
    // Gives different results for even and odd line counts.
    function randomSyllables(rhymeParsed) {
      let syllableString;

      // Find all lines that are not empty.
      let linesToRhymes = {};
      rhymeParsed.tokens.filter( function(elem, index) {
        if (elem.trim() != "") {
          linesToRhymes[index + 1] = elem;
        }
      });
      let lineCount = Object.keys(linesToRhymes).length;

      // Even lines vs odd lines.
      // Only select if there are an even number of lines.
      if (lineCount % 2 == 0) {
        let line = 0, evenLineNos = [];
        $.each( linesToRhymes, function(key, value) {
          if (++line % 2 == 0) evenLineNos.push(key);
        });

        // Create the hash string.
        let weight = {6:0.3, 8:0.4, 10:0.3};
        let syllCountOdd  = weightedRand(weight);
        let syllCountEven = weightedRand(weight);
        if (syllCountOdd == syllCountEven) {
          syllableString = syllCountOdd;
        } else {
          syllableString = "{0:" + syllCountOdd;
          $.each( evenLineNos, function(index, lineNo) {
            syllableString += "," + lineNo + ":" + syllCountEven;
          });
          syllableString += "}";
        }

      // Use array of 1-3 elements.
      } else {
        let count = weightedRand( {1:0.5, 2:0.3, 3:0.2} );
        let weight = {6:0.3, 8:0.4, 10:0.3};
        let arr = [];
        for (let i = 0; i < count; i++) {
          arr.push( weightedRand(weight) );
        }

        // Dedupe and sort.
        arr = [...new Set(arr)].sort( function(a, b){return a-b} );

        // If only one value, then return the value.
        // If array, then delimit with commas.
        syllableString = (arr.length == 1) ? arr[0] : arr.join(",");
      }

      return syllableString;
    }

    // #########################################################################

    // These form changes require more than just '.val(foo)'
    function setCorpus(value) {
      $("#dropdown_databases").val(value);
      $("#database_desc").text(desc_databases[value]);
    }
    function setPoeticForm(value) {
      $("#dropdown_poetic_forms").val(value);
      setPoemTypePoeticForm();
    }
    function setRhymeScheme(value) {
      $("#text_rhyme").val(value);
      setPoemTypeRhyme();
    }

    // Clear a text box.
    function clearInput(elem) {
      $(elem).val("");
    }

    // Clear all the option text boxes.
    function clearInputs() {
      clearInput("#text_rhyme");
      clearInput("#text_indent");
      clearInput("#text_syllable");
      clearInput("#text_regex");
      clearInput("#text_acrostic");
    }

    // Read the actual text of the 'pre' tag to get the values.
    // Write the values in the example to the option boxes.
    // Generate a poem using the values.
    function exampleClick(preTag) {
      let options = {}
      let lines = preTag.innerText.split("\n");
      let header = lines.slice(0, lines.indexOf(""));
      $.each( header, function(index, elem) {
        let value = elem.slice(15).trim();
        if (elem.startsWith("Corpus:")) {
          options.corpus = value;
        } else if (elem.startsWith("Poetic form:")) {
          options.form = value;
        } else if (elem.startsWith("Rhyme scheme:")) {
          options.rhyme = value;
        } else if (elem.startsWith("Indentation:")) {
          options.indent = value;
        } else if (elem.startsWith("Syllables:")) {
          options.syllable = value;
        } else if (elem.startsWith("Regex:")) {
          options.regex = value;
        } else if (elem.startsWith("Acrostic:")) {
          options.acrostic = value;
        }
      });

      // Update the form elements.
      clearInputs();
      if (options.corpus  ) setCorpus(options.corpus);
      if (options.form    ) setPoeticForm(options.form);
      if (options.rhyme   ) setRhymeScheme(options.rhyme);
      if (options.indent  ) $("#text_indent")  .val(options.indent);
      if (options.syllable) $("#text_syllable").val(options.syllable);
      if (options.regex   ) $("#text_regex")   .val(options.regex);
      if (options.acrostic) $("#text_acrostic").val(options.acrostic);

      // Request a poem and write it to the same <pre> tag.
      getPoemFromAPI(options, function(text) {
        $(preTag).html(header.join("\n") + "\n\n" + text);
      });
    }

    // #########################################################################

    // Onload, select 'shakespeare' and 'sonnet'.
    // Set up listeners for the toggle-able inputs.
    $(document).ready( function() {
      welcomeText = $("#poem_results").html();
      $("#welcome_text").toggleClass("hidden");
      setCorpus("shakespeare");
      setPoeticForm("sonnet");
      $("#dropdown_poetic_forms").focus(setPoemTypePoeticForm);
      $("#text_rhyme").focus(setPoemTypeRhyme);
      $("#text_rhyme").change(highlightInvalidRhyme);
      $("#text_rhyme").keyup(highlightInvalidRhyme);
    });
  </script>
  <style type="text/css">
    body {
      min-height: 100vh;
    }
    input {
      text-align: left;
    }
    .header_div {
      margin: 10px;
    }
    .header_left {
      flex: 0 0 368px;
      margin-top: 0px;
      margin-left: 0px;
    }
    .header_right {
      flex: 0 0 44px;
      margin-left: 8px;
      margin-right: 0px;
    }
    .top_button {
      width: 100px;
    }
    .col_left {
      flex: 0 0 28em;
      min-height: 358px;
    }
    .col_middle {
      background-color: white;
      padding: 0px;
    }
    .btn_tags {
      color: rgb(85,85,85);
      height: 44px;
    }
    #poem_results {
      font-size: 120%;
      margin: 12px;
    }
    #database_desc {
      font-size: 200%;
    }
    .header_title {
      text-align: left;
      margin-top: 4px;
      margin-left: 24px;
    }
    .poem_option p {
      float: left;
    }
    .tiny_hover_buttons {
      float: right;
    }

    /*
    Hover effect nabbed from here (class is 'the-icons')
    http://www.plugolabs.com/twitter-bootstrap-button-generator/
    */
    .tiny_hover_buttons a {
      text-decoration: none;
      color: black;
      width: 20px;
      height: 20px;
      padding: 0px 0px 0px 6px;
      float: left;
      -moz-transition: all 0.15s ease-in-out;
      -webkit-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
    }
    .tiny_hover_buttons a:hover, .tiny_hover_buttons a.active {
      -webkit-box-shadow:
        0 0 3px #c8c8c8,
        transparent 0 0 0,
        transparent 0 0 0,
        transparent 0 0 0,
        transparent 0 0 0;
      -moz-box-shadow:
        0 0 3px #c8c8c8,
        transparent 0 0 0,
        transparent 0 0 0,
        transparent 0 0 0,
        transparent 0 0 0;
      box-shadow:
        0 0 3px #c8c8c8,
        transparent 0 0 0,
        transparent 0 0 0,
        transparent 0 0 0,
        transparent 0 0 0;
      background: #fff;
    }
  </style>
 </head>
 <body class="border">
  <header class="border">
    <div class="header_div">
      <div class="header_title input-group-lg">
        <span id="database_desc"></span>
      </div>
      <div class="header_left">
        <select id="dropdown_databases" class="form-control input-lg"
                onchange="selectDatabase(this.value)">
          <% @all_databases.each do |i| %>
            <option value="<%= i %>"><%= i %></option>
          <% end %>
        </select>
      </div>
      <div class="header_right">
        <a class="btn btn-default btn-lg" title="Fork me on GitHub"
            href="https://github.com/nossidge/poefy_online">
          <svg viewBox="0 0 16 15" width="22" height="18">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </a>
      </div>
    </div>
  </header>
  <div class="contents">
    <div id="col_left" class="col_left border">
      <div id="col_left_content">
        <a class="btn btn-default btn-lg btn-block btn_tags"
            title="Generate poem" onclick="getPoem()">
          <span id="save_glyphicon" class="glyphicon glyphicon-refresh"></span>
          Generate poem
        </a>
        <br>
        <p>Poetic form</p>
        <div class="input-group">
          <a id="poetic_form" title="Toggle" onclick="togglePoemType();"
              class="input-group-addon btn btn-default btn-lg btn-block btn_tags active">
            <span id="poetic_form_glyphicon" class="glyphicon glyphicon-ok"></span>
          </a>
          <select id="dropdown_poetic_forms" class="form-control input-lg"
                  onchange="getPoem()">
            <% @poetic_forms.keys.each do |i| %>
              <option value="<%= i %>"><%= i %></option>
            <% end %>
          </select>
        </div>
        <br>
        <div class="poem_option">
          <p>Rhyme scheme</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="clearInput('#text_rhyme')" title="Clear field">x</a>
            <a href="#" onclick="randomisePoemOption('#text_rhyme')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_rhyme')" title="Display help">?</a>
          </span>
          <div class="input-group btn-block">
            <a id="rhyme" title="Toggle" onclick="togglePoemType();"
                class="input-group-addon btn btn-default btn-lg btn-block btn_tags">
              <span id="rhyme_glyphicon" class="glyphicon glyphicon-remove"></span>
            </a>
            <input id="text_rhyme" type="text" class="form-control input-lg" />
          </div>
        </div>
        <br>
        <div class="poem_option">
          <p>Indentation</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="clearInput('#text_indent')" title="Clear field">x</a>
            <a href="#" onclick="randomisePoemOption('#text_indent')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_indentation')" title="Display help">?</a>
          </span>
          <div class="btn-block">
            <input id="text_indent" type="text" class="form-control input-lg" />
          </div>
        </div>
        <br>
        <div class="poem_option">
          <p>Syllables</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="clearInput('#text_syllable')" title="Clear field">x</a>
            <a href="#" onclick="randomisePoemOption('#text_syllable')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_syllables')" title="Display help">?</a>
          </span>
          <div class="btn-block">
            <input id="text_syllable" type="text" class="form-control input-lg" />
          </div>
        </div>
        <br>
        <p>Regex</p>
        <div class="btn-block">
          <input id="text_regex" type="text" class="form-control input-lg" />
        </div>
        <br>
        <p>Acrostic</p>
        <div class="btn-block">
          <input id="text_acrostic" type="text" class="form-control input-lg" />
        </div>
      </div>
    </div>
    <div id="col_middle" class="col_middle border" name="poem_frame">
      <div id="poem_results">
        <div id="welcome_text" class="hidden">
          <p>Welcome to the online <a href="https://github.com/nossidge/poefy">Poefy</a> generator.</p>
          <p>Select the corpus database at the top.</p>
          <p>Then choose from the options on the left.</p>
          <p>For a new poem, click the 'refresh' button.</p>
          <br>
          <p>Project currently <a href="https://github.com/nossidge/poefy_online">in progress</a>.</p>
          <p>Most features are not yet implemented.</p>
        </div>
        <div id="help_rhyme" class="hidden">
          <h3>Rhyme scheme</h3>
          <p>Specifies a rhyme structure that the poem must follow. This is the most important argument; the whole poem is based on this. 'Rhyme scheme' and 'Poetic form' are mutually exclusive; if one field is selected the other will be automatically deselected.</p>
          <p>Each token in the rhyme string represents a line in the poem. Letters indicate rhymes, so all 'a' or 'A' lines have the same rhyme.</p>
          <p>Example, sonnet:</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  ababcdcdefefgg

Towers of fables immortal fashion'd from mortal dreams!
The colloquy there, the trio, each uttering,
To sound of different, prouder songs, with stronger themes,
Steady the roar of the gale, with incessant undertone muttering,
I hear dervishes monotonously chanting, interspers'd with frantic
from his cheeks,
Pacific and the north Atlantic,
Lo, Victress on the peaks,
work-people at their meals,
She does not tarry to smooth her hair nor adjust her cap.
Was fill'd with aspirations high, unform'd ideals,
and the climbing sap,
Whence to arise inevitable in time, the towering roofs, the lamps,
mighty camps.</pre>
          <p>Uppercase letter lines will be duplicated exactly. This is used to create refrain lines.</p>
          <p>Example, rondeau:</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  aabba aabC aabbaC

An attendant follows holding a tray, he carries a refuse pail,
speeds by under full sail.
Gently, but with undeniable will, divesting myself of the holds that
Grandmother, loving daughter, loving daughter's daughter, sat,
O I do not know whether many passing by will discover you or inhale

Here lands female and male,
Appear'd the cloud, appear'd the long black trail,
Or southward along the Tennessee or Cumberland rivers, or at
What is yours is mine my father.

bead-bags for sale,
To her children the words of the eloquent dumb great mother never fail,
cypresses growing out of the white sand that spreads far and flat,
His glance is calm and commanding, he tosses the slouch of his hat
what avail?
What is yours is mine my father.</pre>
          <p>Numbers after a capital letter indicate which specific line to repeat. This is so you can have repeated lines that use the same rhyme scheme.</p>
          <p>Example, villanelle:</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  A1bA2 abA1 abA2 abA1 abA2 abA1A2
Syllables:     6,7,8,9

I saw old General at bay,
Watching the east, the autumn sky.
Put me down and depart on your way.

When I Heard at the Close of the Day
ever happier than I,
I saw old General at bay,

and interminable as they,
looks at the oats and rye,
Put me down and depart on your way.

afternoon she went away,
To One Shortly to Die
I saw old General at bay,

Hush'd be the camps to-day,
These waifs from the deep, cast high and dry,
Put me down and depart on your way.

head, laughter, and naivete,
(Pleas'd to my soul at death I cry,)
I saw old General at bay,
Put me down and depart on your way.</pre>
        </div>
        <div id="help_indentation" class="hidden">
          <h3>Indentation</h3>
          <p>Indent each line by a certain number of spaces.</p>
          <pre onclick="exampleClick(this)">Corpus:        shakespeare
Rhyme scheme:  abab aabb
Indentation:   0101 0012

O! what a mansion have those vices got
&nbsp;&nbsp;And more, much more, than in my verse can sit,
Nay, if you read this line, remember not
&nbsp;&nbsp;For whether beauty, birth, or wealth, or wit,

But what's so blessed-fair that fears no blot?
Why should my heart think that a several plot,
&nbsp;&nbsp;Thy merit hath my duty strongly knit,
&nbsp;&nbsp;&nbsp;&nbsp;Your own glass shows you when you look in it.</pre>
          <p>Using '0' as the value resets all indents. You can use this to nullify the default indentation of a poetic form.</p>
          <pre onclick="exampleClick(this)">Corpus:        dickinson
Poetic form:   common
Indentation:   0

So busy was she, finishing,
The bravest of the host,
Though never yet, in any port,
Bride of the Holy Ghost!</pre>
        </div>
        <div id="help_syllables" class="hidden">
          <h3>Syllables</h3>
          <p>Specify syllable count allowed for each line. There's a few valid forms it can take.</p>
          <p>If the string is just one number, all lines will be that number of syllables long.</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  abab
Syllables:     6

Phantoms of countless lost,
O darkness! O in vain!
and silent there at last,
friendship I take again.</pre>
          <p>If the string is comma delimited, all lines will be any of those numbers of syllables long.</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  abab
Syllables:     4,8,12

This arm, this hand, this voice, have nourish'd, rais'd, restored,
Give me the pay I have served for,
his unsheath'd sword,
be the stake, and respite no more.</pre>
          <p>If the string is an array encased in [square brackets], each element corresponds to a line in the output.</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  aabba
Syllables:     [8,8,5,5,8]

Thus by blue Ontario's shore,
Give me the pay I have served for,
refuse, all attend,
for my dearest friend,
be the stake, and respite no more.</pre>
          <p>If the string is a hash encased in {curly brackets}, the key will be used to match the line number. You can use '=>' or ':' as the assignment symbol. Keys of '0' are used as the default value.</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  aabba
Syllables:     {0=>8,3=>5,4=>5}

Sail out for Good, Eidolon Yacht!
A glimpse through an interstice caught,
Sit a while dear son,
others for deeds done,
I know very well I could not.</pre>
          <p>Values can be an exact integer syllable count, or an array of acceptable counts.</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  aabba
Syllables:     {0=>[8,9],3=>[4,5,6],4=>[4,5,6]}

their flesh against me as I sat,
and not hit, that which I hinted at;
Poets to Come
joints proportion'd and plumb.
To be in any form, what is that?</pre>
          <p>Keys of negative integers count from the final line backwards.</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Rhyme scheme:  aabba
Syllables:     {0:4,-1:20}

To-Day and Thee
Far, far at sea,
catching disease.
toward the knees,
I believe you are latent with unseen existences, you are so dear to me.</pre>
          <p>Using '0' as the value will ignore any syllable matching. You can use this to nullify the syllable constraints of a poetic form. So to get a random non-rhyming triplet, you could use the 'haiku' form with '0' as syllables.</p>
          <pre onclick="exampleClick(this)">Corpus:        whitman
Poetic form:   haiku
Syllables:     0

Old Ireland
How the flukes splash!
O to resume the joys of the soldier!</pre>
        </div>
      </div>
    </div>
  </div>
 </body>
</html>
