<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Poefy Online</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="poefy.js"></script>
  <script>
    var welcomeText;
    var desc_databases = <%= @desc_databases.to_json %>;
    var poetic_forms   = <%= @poetic_forms.to_json %>;
  </script>
 </head>
 <body class="border">
  <header class="border">
    <div class="header_div">
      <div class="header_title input-group-lg">
        <span id="database_desc"></span>
      </div>
      <div class="header_left">
        <select id="dropdown_databases" class="form-control input-lg"
                onchange="selectDatabase(this.value)">
          <% @all_databases.each do |i| %>
            <option value="<%= i %>"><%= i %></option>
          <% end %>
        </select>
      </div>
      <div class="header_right">
        <a class="btn btn-default btn-lg" title="Fork me on GitHub"
            href="https://github.com/nossidge/poefy_online">
          <svg viewBox="0 0 16 15" width="22" height="18">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </a>
      </div>
    </div>
  </header>
  <div class="contents">
    <div id="col_left" class="col_left border">
      <div id="col_left_content">
        <a class="btn btn-default btn-lg btn-block btn_tags"
            title="Generate poem" onclick="getPoem()">
          <span id="save_glyphicon" class="glyphicon glyphicon-refresh"></span>
          Generate poem
        </a>
        <br>
        <div class="poem_option">
          <p>Poetic form</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="randomisePoemOption('#dropdown_poetic_forms')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_poetic_forms')" title="Display help">?</a>
          </span>
          <div class="input-group btn-block">
            <a id="poetic_form" title="Toggle" onclick="togglePoemType();"
                class="input-group-addon btn btn-default btn-lg btn-block btn_tags active">
              <span id="poetic_form_glyphicon" class="glyphicon glyphicon-ok"></span>
            </a>
            <select id="dropdown_poetic_forms" class="form-control input-lg"
                    onchange="getPoem()">
              <% @poetic_forms.keys.each do |i| %>
                <option value="<%= i %>"><%= i %></option>
              <% end %>
            </select>
          </div>
        </div>
        <br>
        <div class="poem_option">
          <p>Rhyme scheme</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="clearInput('#text_rhyme')" title="Clear field">x</a>
            <a href="#" onclick="randomisePoemOption('#text_rhyme')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_rhyme')" title="Display help">?</a>
          </span>
          <div class="input-group btn-block">
            <a id="rhyme" title="Toggle" onclick="togglePoemType();"
                class="input-group-addon btn btn-default btn-lg btn-block btn_tags">
              <span id="rhyme_glyphicon" class="glyphicon glyphicon-remove"></span>
            </a>
            <input id="text_rhyme" type="text" class="form-control input-lg" />
          </div>
        </div>
        <br>
        <div class="poem_option">
          <p>Indentation</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="clearInput('#text_indent')" title="Clear field">x</a>
            <a href="#" onclick="randomisePoemOption('#text_indent')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_indentation')" title="Display help">?</a>
          </span>
          <div class="btn-block">
            <input id="text_indent" type="text" class="form-control input-lg" />
          </div>
        </div>
        <br>
        <div class="poem_option">
          <p>Syllables</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="clearInput('#text_syllable')" title="Clear field">x</a>
            <a href="#" onclick="randomisePoemOption('#text_syllable')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_syllables')" title="Display help">?</a>
          </span>
          <div class="btn-block">
            <input id="text_syllable" type="text" class="form-control input-lg" />
          </div>
        </div>
        <br>
        <div class="poem_option">
          <p>Regex</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="clearInput('#text_regex')" title="Clear field">x</a>
            <a href="#" onclick="randomisePoemOption('#text_regex')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_regex')" title="Display help">?</a>
          </span>
          <div class="btn-block">
            <input id="text_regex" type="text" class="form-control input-lg" />
          </div>
        </div>
        <br>
        <div class="poem_option">
          <p>Acrostic</p>
          <span class="tiny_hover_buttons">
            <a href="#" onclick="clearInput('#text_acrostic')" title="Clear field">x</a>
            <a href="#" onclick="randomisePoemOption('#text_acrostic')" title="Randomise">!</a>
            <a href="#" onclick="helpText('help_acrostic')" title="Display help">?</a>
          </span>
          <div class="btn-block">
            <input id="text_acrostic" type="text" class="form-control input-lg" />
          </div>
        </div>
        <br>
        <div class="poem_option">
          <p>Miscellaneous</p>
          <div class="btn-group btn-group-justified">
            <a id="btn_capitalise" class="btn btn-default btn-lg btn_tags active"
              title="Capitalise the first letter of each line"
              onclick="toggleButton(this);">
              Aaa
            </a>
            <a id="btn_proper" class="btn btn-default btn-lg btn_tags active"
              title="Ensure poems do not begin with and/but/or and that they end with ./!/?"
              onclick="toggleButton(this);">
              .
            </a>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div id="col_middle" class="col_middle border">
      <div id="poem_results">
        <div id="welcome_text" class="hidden">
          <p>Welcome to the online <a href="https://github.com/nossidge/poefy">Poefy</a> generator.</p>
          <p>Select the corpus database at the top.</p>
          <p>Then choose from the options on the left.</p>
          <p>For a new poem, click the 'refresh' button.</p>
          <br>
          <p>Project currently <a href="https://github.com/nossidge/poefy_online">in progress</a>.</p>
          <p>Most features are not yet implemented.</p>
        </div>
        <div id="help_poetic_forms" class="hidden">
          <h3>Poetic Form</h3>
          <p>Specifies a predefined structure that the poem will follow. This is the most important argument; the whole poem is based on this. 'Rhyme scheme' and 'Poetic form' are mutually exclusive; if one field is selected the other will be automatically deselected.</p>
          <p>It will always include a Rhyme Scheme, and may also consist of any other input variables, such as Indentation, Syllable, or Regex.</p>
          <p>Below, you can see examples of the Poetic Forms, along with the specifications for each.</p>
          <h3>Rondeau</h3>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  aabba aabR aabbaR
              &nbsp;
              All night long on the prong of a moss-scallop'd stake,
              City whom that I have lived and sung in your midst will one day make
              Glow upon all I have written or shall write, bleeding drops,
              Nor the place of the tallest and costliest buildings or shops
              is no fear of mistake,
              &nbsp;
              After treading ground and breasting river and lake,
              whether I sleep or wake;)
              To plough land in the fall for winter-sown crops,
              till their color becomes scarlet.
              &nbsp;
              Now in a moment I know what I am for, I awake,
              Earth of the limpid gray of clouds brighter and clearer for my sake!
              Thy limitless crops, grass, wheat, sugar, oil, corn, rice, hemp, hops,
              The dispute on the soul stops,
              A sprig with its flower I break.
              till their color becomes sca`rlet.
            </pre>
          </div>
          <h3>Villanelle</h3>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        dickinson
              Rhyme scheme:  A1bA2 abA1 abA2 abA1 abA2 abA1A2
              Indentation:   010 001 001 001 001 0011
              &nbsp;
              When Richard went to mill;
              &nbsp;&nbsp;A guest in this stupendous place,
              And then the streets stood still.
              &nbsp;
              And was he confident until
              Held fast in everlasting race
              &nbsp;&nbsp;When Richard went to mill;
              &nbsp;
              Out of reach of skill,
              Without design, that I could trace,
              &nbsp;&nbsp;And then the streets stood still.
              &nbsp;
              The hours slid fast, as hours will,
              A smile suffused Jehovah's face;
              &nbsp;&nbsp;When Richard went to mill;
              &nbsp;
              Our blank in bliss to fill,
              A face devoid of love or grace,
              &nbsp;&nbsp;And then the streets stood still.
              &nbsp;
              The aster on the hill
              The heaven we chase
              &nbsp;&nbsp;When Richard went to mill;
              &nbsp;&nbsp;And then the streets stood still.
            </pre>
          </div>
          <h3>Ballade</h3>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  ababbcbC ababbcbC ababbcbC bcbC
              &nbsp;
              The swell'd and convuls'd and congested awake to themselves in condition,
              I say I bring thee Muse to-day and here,
              Then only may these songs reach fruition.
              many a long year,
              daybreak I hear,
              like a sword,
              laying the long side-wall, two hundred feet from front to rear,
              What think you I take my pen in hand to record?
              &nbsp;
              Not in my wilful and savage soul's volition,
              Wicked rather than virtuous out of conformity or fear,
              Hark, some wild trumpeter, some strange musician,
              They melt, they disappear.
              sloops, the raftsman, the pioneer,
              How all times mischoose the objects of their adulation and reward,
              A Jew to the Jew he seems, a Russ to the Russ, usual and near,
              What think you I take my pen in hand to record?
              &nbsp;
              Nose, nostrils of the nose, and the partition,
              I whisper with my lips close to your ear.
              apparition,
              (O Mother--O Sisters dear!
              their drink water, their blood clean and clear,
              The swing of their axes on the square-hew'd log shaping it toward
              Now I pierce the darkness, new beings appear,
              What think you I take my pen in hand to record?
              &nbsp;
              by beings like us who walk this sphere,
              Or I guess it is the handkerchief of the Lord,
              Have real employments contributed to it? original makers, not mere
              What think you I take my pen in hand to record?
            </pre>
          </div>
          <h3>Ballata</h3>
          <p>The length is flexible, one will randomly be selected from the following:</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  AbbaA
              &nbsp;
              Was the wind piping the pipe of death under the black clouds?
              And who has been happiest? O I think it is I--I think no one was
              Or as any law of the earth or any natural production of the earth does.
              And 'mid its teeming madden'd half-drown'd crowds,
              Was the wind piping the pipe of death under the black clouds?
            </pre>
          </div>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  AbbaAbbaA
              &nbsp;
              the fire.
              See forts on the shores of harbors, see ships sailing in and out;
              To diagnose the shifting-delicate tints of love and pride and doubt--
              Come forward O my soul, and let the rest retire,
              the fire.
              All these States compact, every square mile of these States without
              To jump off in the midst of the sea, rise again, nod to me, shout,
              Give me for marriage a sweet-breath'd woman of whom I should never tire,
              the fire.
            </pre>
          </div>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  AbbaAbbaAbbaA
              &nbsp;
              A windrow-drift of weeds and shells.
              I see the curious rapid change of the light and shade,
              Who walk'd with kings with even pace the round world's promenade;
              I swear I will never henceforth have to do with the faith that tells
              A windrow-drift of weeds and shells.
              Enter the captur'd works--yet lo, like a swift-running river they fade,
              The low hoarse purr of the whirling stone, the light-press'd blade,
              maddening yells,
              A windrow-drift of weeds and shells.
              Stands forever the camp of that dead brigade.
              poems ever made,
              O Captain! my Captain! rise up and hear the bells;
              A windrow-drift of weeds and shells.
            </pre>
          </div>
          <h3>Sonnet</h3>
          <p>The Shakespearean sonnet form, consisting of three quatrains and a couplet.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        shakespeare
              Rhyme scheme:  ababcdcdefefgg
              &nbsp;
              Love's not Time's fool, though rosy lips and cheeks
              Dost thou upon thy fading mansion spend?
              Love alters not with his brief hours and weeks,
              All losses are restor'd and sorrows end.
              If the true concord of well-tuned sounds,
              What merit lived in me, that you should love
              The wiry concord that mine ear confounds,
              Askance and strangely; but, by all above,
              Since sweets and beauties do themselves forsake
              So, till the judgment that yourself arise,
              Then of thy beauty do I question make,
              And says in him thy fair appearance lies.
              That tongue that tells the story of thy days,
              Have eyes to wonder, but lack tongues to praise.
            </pre>
          </div>
          <h3>Petrarchan</h3>
          <p>The Petrarchan sonnet form, consisting of an octave and a sestet. The rhyme scheme for the sestet is flexible, and one will randomly be selected from the following:</p>
          <ul>
            <li>abbaabba<strong>cdecde</strong></li>
            <li>abbaabba<strong>cdccdc</strong></li>
            <li>abbaabba<strong>cdcddc</strong></li>
            <li>abbaabba<strong>cddcdd</strong></li>
            <li>abbaabba<strong>cddece</strong></li>
            <li>abbaabba<strong>cdcdcd</strong></li>
          </ul>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        shakespeare
              Rhyme scheme:  abbaabbacddcdd
              Indentation:   10001000100100
              &nbsp;
              &nbsp;&nbsp;Whether we are mended, or where better they,
              And that is this, and this with thee remains.
              And proud of many, lives upon his gains.
              And life no longer than thy love will stay,
              &nbsp;&nbsp;Ere beauty's dead fleece made another gay:
              The worth of that is that which it contains,
              Beggared of blood to blush through lively veins?
              Which by and by black night doth take away,
              &nbsp;&nbsp;That heavy Saturn laughed and leapt with him.
              For blunting the fine point of seldom pleasure.
              Being your vassal, bound to stay your leisure!
              &nbsp;&nbsp;When proud pied April, dressed in all his trim,
              But these particulars are not my measure,
              Mine be thy love and thy love's use their treasure.
            </pre>
          </div>
          <h3>Limerick</h3>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        spoke
              Rhyme scheme:  aabba
              Syllables:      {1:[8],2:[8],3:[4,5],4:[4,5],5:[8]}
              &nbsp;
              This meat ist not too over do.
              You have me done to expect too.
              The sun lie down.
              For to see the town.
              Some pears, and apples, what wilt you?
            </pre>
          </div>
          <h3>Haiku</h3>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        spoke
              Rhyme scheme:  abc
              Syllables:     [5,7,5]
              &nbsp;
              A mutton shoulder
              You not make who to babble.
              You can take a broth.
            </pre>
          </div>
          <h3>Common</h3>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        dickinson
              Rhyme scheme:  abcb
              Indentation:   0101
              Syllables:     {o:8,e:6}
              &nbsp;
              The dreamy butterflies bestir,
              &nbsp;&nbsp;For such a foe as this!
              What is forbidden utterly
              &nbsp;&nbsp;A mob of solid bliss.
            </pre>
          </div>
          <h3>Ballad</h3>
          <p>Similar to the common metre, but with rhyming first and third lines.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        dickinson
              Rhyme scheme:  abab
              Indentation:   0101
              Syllables:     {o:8,e:6}
              &nbsp;
              I wonder how the rich may feel, --
              &nbsp;&nbsp;A fashionless delight
              Only the keeper of this seal
              &nbsp;&nbsp;A toad can die of light!
            </pre>
          </div>
          <h3>Double Dactyl</h3>
          <p>The regex in this specification ensures that the second line of the second stanza always consists of just one word.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  abcd efgd
              Syllables:     {0:6, 4m0:4}
              Regex:         {7: ^\S+$}
              &nbsp;
              I am too full of woe!
              my immortal heroes,
              beyond the difference.
              between your knees,
              &nbsp;
              The Dying Veteran
              Reconciliation
              Nay he is mine alone;
              catching disease.
            </pre>
          </div>
        </div>
        <div id="help_rhyme" class="hidden">
          <h3>Rhyme scheme</h3>
          <p>Specifies a rhyme structure that the poem will follow. This is the most important argument; the whole poem is based on this. 'Rhyme scheme' and 'Poetic form' are mutually exclusive; if one field is selected the other will be automatically deselected.</p>
          <p>Each token in the rhyme string represents a line in the poem. Letters indicate rhymes, so all 'a' or 'A' lines have the same rhyme.</p>
          <p>Example, sonnet:</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  ababcdcdefefgg
              &nbsp;
              Towers of fables immortal fashion'd from mortal dreams!
              The colloquy there, the trio, each uttering,
              To sound of different, prouder songs, with stronger themes,
              Steady the roar of the gale, with incessant undertone muttering,
              I hear dervishes monotonously chanting, interspers'd with frantic
              from his cheeks,
              Pacific and the north Atlantic,
              Lo, Victress on the peaks,
              work-people at their meals,
              She does not tarry to smooth her hair nor adjust her cap.
              Was fill'd with aspirations high, unform'd ideals,
              and the climbing sap,
              Whence to arise inevitable in time, the towering roofs, the lamps,
              mighty camps.
            </pre>
          </div>
          <p>Uppercase letter lines will be duplicated exactly. This is used to create refrain lines.</p>
          <p>Example, rondeau:</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  aabba aabC aabbaC
              &nbsp;
              An attendant follows holding a tray, he carries a refuse pail,
              speeds by under full sail.
              Gently, but with undeniable will, divesting myself of the holds that
              Grandmother, loving daughter, loving daughter's daughter, sat,
              O I do not know whether many passing by will discover you or inhale
              &nbsp;
              Here lands female and male,
              Appear'd the cloud, appear'd the long black trail,
              Or southward along the Tennessee or Cumberland rivers, or at
              What is yours is mine my father.
              &nbsp;
              bead-bags for sale,
              To her children the words of the eloquent dumb great mother never fail,
              cypresses growing out of the white sand that spreads far and flat,
              His glance is calm and commanding, he tosses the slouch of his hat
              what avail?
              What is yours is mine my father.
            </pre>
          </div>
          <p>Numbers after a capital letter indicate which specific line to repeat. This is so you can have repeated lines that use the same rhyme scheme.</p>
          <p>Example, villanelle:</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  A1bA2 abA1 abA2 abA1 abA2 abA1A2
              Syllables:     6,7,8,9
              &nbsp;
              I saw old General at bay,
              Watching the east, the autumn sky.
              Put me down and depart on your way.
              &nbsp;
              When I Heard at the Close of the Day
              ever happier than I,
              I saw old General at bay,
              &nbsp;
              and interminable as they,
              looks at the oats and rye,
              Put me down and depart on your way.
              &nbsp;
              afternoon she went away,
              To One Shortly to Die
              I saw old General at bay,
              &nbsp;
              Hush'd be the camps to-day,
              These waifs from the deep, cast high and dry,
              Put me down and depart on your way.
              &nbsp;
              head, laughter, and naivete,
              (Pleas'd to my soul at death I cry,)
              I saw old General at bay,
              Put me down and depart on your way.
            </pre>
          </div>
        </div>
        <div id="help_indentation" class="hidden">
          <h3>Indentation</h3>
          <p>Indent each line by a certain number of spaces.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        shakespeare
              Rhyme scheme:  abab aabb
              Indentation:   0101 0012
              &nbsp;
              O! what a mansion have those vices got
              &nbsp;&nbsp;And more, much more, than in my verse can sit,
              Nay, if you read this line, remember not
              &nbsp;&nbsp;For whether beauty, birth, or wealth, or wit,
              &nbsp;
              But what's so blessed-fair that fears no blot?
              Why should my heart think that a several plot,
              &nbsp;&nbsp;Thy merit hath my duty strongly knit,
              &nbsp;&nbsp;&nbsp;&nbsp;Your own glass shows you when you look in it.
            </pre>
          </div>
          <p>Using '0' as the value resets all indents. You can use this to nullify the default indentation of a poetic form.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        dickinson
              Poetic form:   common
              Indentation:   0
              &nbsp;
              So busy was she, finishing,
              The bravest of the host,
              Though never yet, in any port,
              Bride of the Holy Ghost!
            </pre>
          </div>
        </div>
        <div id="help_syllables" class="hidden">
          <h3>Syllables</h3>
          <p>Specify syllable count allowed for each line. There's a few valid forms it can take.</p>
          <p>If the string is just one number, all lines will be that number of syllables long.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  abab
              Syllables:     6
              &nbsp;
              Phantoms of countless lost,
              O darkness! O in vain!
              and silent there at last,
              friendship I take again.
            </pre>
          </div>
          <p>If the string is comma delimited, all lines will be any of those numbers of syllables long.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  abab
              Syllables:     8,9,10,11,12
              &nbsp;
              Fresh come, to a new world indeed, yet long prepared,
              And any thing I have I bestow.
              The same at last and at last when peace is declared,
              Scooting obliquely high and low.
            </pre>
          </div>
          <p>The above can also be written to use a range format.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  abab
              Syllables:     8-12
              &nbsp;
              Fresh come, to a new world indeed, yet long prepared,
              And any thing I have I bestow.
              The same at last and at last when peace is declared,
              Scooting obliquely high and low.
            </pre>
          </div>
          <p>If the string is an array encased in [square brackets], each element corresponds to a line in the output.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  aabba
              Syllables:     [8,8,5,5,8]
              &nbsp;
              Thus by blue Ontario's shore,
              Give me the pay I have served for,
              refuse, all attend,
              for my dearest friend,
              be the stake, and respite no more.
            </pre>
          </div>
          <p>If the string is a hash encased in {curly brackets}, the key will be used to match the line number. Use ':' or ': ' as the assignment symbol. Keys of '0' are used as the default value.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  aabba
              Syllables:     {0:8,3:5,4:5}
              &nbsp;
              Sail out for Good, Eidolon Yacht!
              A glimpse through an interstice caught,
              Sit a while dear son,
              others for deeds done,
              I know very well I could not.
            </pre>
          </div>
          <p>Values can be an exact integer syllable count, or an array or range of acceptable counts.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  aabba
              Syllables:     {0:[8,9],3:[4-6],4:[4-6]}
              &nbsp;
              their flesh against me as I sat,
              and not hit, that which I hinted at;
              Poets to Come
              joints proportion'd and plumb.
              To be in any form, what is that?
            </pre>
          </div>
          <p>Keys of negative integers count from the final line backwards.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  aabba
              Syllables:     {0:4,-1:20}
              &nbsp;
              To-Day and Thee
              Far, far at sea,
              catching disease.
              toward the knees,
              I believe you are latent with unseen existences, you are so dear to me.
            </pre>
          </div>
          <p>You can use 'o' and 'e' to specify odd or even rows. This will automatically take empty rows into account.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        dickinson
              Rhyme scheme:  abab cdcd
              Syllables:     {o:8,e:6}
              &nbsp;
              Its past, enlightened to perceive
              I had a daily bliss
              So huge, so hopeless to conceive,
              For such a foe as this!
              &nbsp;
              And make much blunder, if at last
              And art thou sleeping yet?
              And dip your fingers in the frost:
              The bee, dost thou forget?
            </pre>
          </div>
          <p>A more advanced version of the above, you can use the letter 'm' to perform a <a href="https://en.wikipedia.org/wiki/Modulo_operation">modulo operation</a> on the line number. This key takes the format '[divider]m[remainder]'. Any empty lines are ignored.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Rhyme scheme:  abb abb cdd cdd
              Syllables:     {0:4, 3m1:8}
              &nbsp;
              From Spanish chestnut trees' dense shade,
              close-pack'd square,
              secure up there,
              &nbsp;
              Nor discovery have I made,
              colt from the mare,
              free, open air,
              &nbsp;
              On journeys through the States we start,
              lawless than we;)
              To-Day and Thee
              &nbsp;
              Joining with master-tongue bore part.
              Far, far at sea,
              adhere to me?
            </pre>
          </div>
          <p>Using '0' as the value will ignore any syllable matching. You can use this to nullify the syllable constraints of a poetic form. So to get a random non-rhyming triplet, you could use the 'haiku' form with '0' as syllables.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Poetic form:   haiku
              Syllables:     0
              &nbsp;
              Old Ireland
              How the flukes splash!
              O to resume the joys of the soldier!
            </pre>
          </div>
        </div>
        <div id="help_regex" class="hidden">
          <h3>Regex</h3>
          <p>Specify a regular expression for lines to follow.</p>
          <p>If the string is just one regex, all lines will be forced to match that regex.</p>
          <p>Example, each line begins with a capital letter:</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        whitman
              Poetic form:   limerick
              Regex:         ^[A-Z]
              &nbsp;
              O heart-sick days! O nights of woe!
              As I wended the shores I know,
              The Voice of the Rain
              I am there again.
              To be lost if it must be so!
            </pre>
          </div>
          <p>Example, no line contains the letter 'e':</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        dickinson
              Poetic form:   limerick
              Regex:         ^[^eE]*$
              Syllables:     0
              &nbsp;
              Convulsion playing round,
              A crash without a sound;
              Apart, intrinsic, stand,
              Or what Circassian land?
              Has anybody found?
            </pre>
          </div>
          <p>If the string is a hash, the key will be used to match the line number, in much the same way as the syllables string. Like with syllables, it will be parsed as YAML, but here we are more concerned about string substitution messing up the regex. So you have to use ':'' as the key identifier. Also, you must put the regex inside 'single' or "double" quotes.</p>
          <p>A fairly complex example, to ensure all lines start with a capital letter, the last line ends with a full stop and all other lines end with a question mark:</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        shakespeare
              Rhyme scheme:  abab
              Regex:         {0: '^[A-Z].*\?$', -1: '^[A-Z].*\.$'}
              Syllables:     10
              &nbsp;
              And what is't but mine own when I praise thee?
              Dost thou upon thy fading mansion spend?
              When thou art all the better part of me?
              In sequent toil all forwards do contend.
            </pre>
          </div>
        </div>
        <div id="help_acrostic" class="hidden">
          <h3>Acrostic</h3>
          <p>Since there's a regular expression matcher it's pretty trivial to use it to generate acrostics. This option just creates regexes for the first character of each line, either upper or lowercase. Works best if you remove any indentation of lines.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        therese
              Rhyme scheme:  abba abba cde cde
              Indentation:   0
              Syllables:     10
              Acrostic:      stop that fat cat
              &nbsp;
              So, if I may not here behold Thy Face,
              Thy sanctuary here, dear Lord, am I,
              O may He quickly come! He draweth nigh!
              Pride tore down Satan from his lofty place,
              &nbsp;
              To martial hosts she brought God's saving grace;
              He, He alone, can understand my cry.
              Ah, how I hope one day with them to fly!
              To find it there at morn, how swift I'd race!
              &nbsp;
              For this I plead with Thee by night, by day;
              And Thou art Love Itself upon Thy throne,
              To live of love, it is to know no fear;
              &nbsp;
              Conquered by her, the foe fled far away.
              Ah! take my heart! Jesus, tis Thine alone;
              To guard the faith, uphold God's honor here.
            </pre>
          </div>
          <p>You must also beware of repeated lines (uppercase letters in the rhyme string). For example, a rondeau uses the rhyme form 'aabba aabC aabbaC', so the acrostic needs to have the same letter for both 'C' repeated lines.</p>
          <div onclick="exampleClick(this)">
            <div class="info_div" title="Click me!">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <pre>
              Corpus:        therese
              Poetic form:   rondeau
              Acrostic:      grown ever softer
              &nbsp;
              God, Three in One, and One in Three,
              Remember thy first-born, thy bright Marie,
              Of heaven's King the lowly bride!
              Within Thy Sacred Heart, ah! let me hide.
              No more the sense of exile weighs on me,
              &nbsp;
              E'en when, to try my faith, from me Thou hidest Thee;
              Veiled in His Eucharist I see
              Each moment Thou my way dost guard and guide;
              Remember, O my Jesu! Word of life!
              &nbsp;
              So His cradle, Sister, be!
              Our Friend is He, our Spouse is He!
              For Thee alone, O God, I quit my father's side,
              Till my last evening, oh! with me abide,
              Escaping from Thy lips on Calvary's tree:
              Remember, O my Jesu! Word of life!
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
 </body>
</html>
